.theme-toggle {
  padding: 0.5rem;
  background-color: var(--color-secondary);
  border: 1px solid transparent;
  color: var(--color-text);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}

.theme-toggle:hover {
  border-color: var(--color-primary);
}
